<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>KNL Barbers Management System</title>

    <link rel="stylesheet" href="css/style.css">

</head>


<body>


<header>

    <h1>💈 KNL BARBERS</h1>

    <p>Appointment Management System</p>

</header>



<div class="container">


    <section class="booking-card">

        <h2>Book Appointment</h2>


        <label>Customer</label>

        <select id="customer">

        </select>


        <label>Barber</label>

        <select id="barber">

        </select>


        <label>Service</label>

        <select id="service">

        </select>


        <label>Date</label>

        <input type="date" id="date">


        <label>Time</label>

        <input type="time" id="time">


        <button onclick="bookAppointment()">
            Book Appointment
        </button>


    </section>





    <section class="appointment-card">


        <h2>Appointments</h2>


        <table>


            <thead>

                <tr>

                    <th>ID</th>
                    <th>Customer</th>
                    <th>Barber</th>
                    <th>Service</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Action</th>

                </tr>


            </thead>



            <tbody id="appointmentTable">


            </tbody>



        </table>



    </section>



</div>



<script src="js/app.js"></script>


</body>

</html>